body {
	
	background: linear-gradient(#b18484,#f2f2f5f3,#b18484);
}

#header {
    background: linear-gradient(#a19595, #fae1e1, #af9d9d);
    width: 100%;
	height: 10%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.dropdown {
	float: left;
	margin: 2% 3% 0 0;
	font-size: 12pt;
}

.inputSearch {
	float: left;
	width: 50%; 
	margin-top: 1.5%;
}
.btnSearch {
	margin-top: 1.7%;
	position: fixed;
	margin-left: -2.5%;
	background: linear-gradient(#BF2327, #090618, #ffffff);
}
.btnSearch:hover {
	background: linear-gradient(#ffffff, #BF2327, #090618);
}

.logo {
	margin-left: 0%;
	float: left;
	margin-right: 2%;
}

.rightHeader {
	float: right;
	font-size: 12pt;
	margin-top: 1%;
	color: white;
}

.iconCart {
	font-size: 30pt !important;
	color: white;
}

.iconCart:hover, .dangky:hover, .dangnhap:hover {
	color: #85888F;
}

#footer {
	background: linear-gradient(#a7917d, #a36164);
	color: rgb(110, 53, 53);
	margin-top: 10px;
	background: transparent;
	height: 180px;
}
h5 {
	color: white;
}
.footmargin {
	margin-left: 8%;
}

#content {
	margin-top: 66px;
	margin-left: 5%;
	width: 90%;
}

.hightlight {
	margin: 3% 0 3% 3%;
	font-size: 12pt;
}

@keyframes hightlightAnimation {
    0%   {color: rgb(230, 76, 76); left:0px}
    50%  {color: rgb(72, 255, 0); left:50px}
    100% {color: rgb(230, 76, 76); left:0px}
}

.hightlight h3 {
	font-size: 30pt;
	position: relative;
    animation-name: hightlightAnimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.account {
	font-size: 14pt;
	font-weight: bold;
	color: white !important;
}

.account-form label {
	color: white;
}

.account-form button {
	margin-left: 45%;
	background-color: red;
}

@keyframes account {
	0% {color: white; left: 0px;}
	25% {color: white; left: 50px;}
	50% {color: white; left: 0px;}
	75% {color: white; left: -50px;}
	100% {color: white; left: 0px;}
}

.account-animation {
	font-size: 20pt;
	margin: 0% 0 1% 40%;
	color: white;
	position: relative;
    animation-name: account;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.inputcard {
	margin-left: 30%;
	text-align: center;
}

.iconcart {
	margin-top: 15%;
}

.imgCard {
	width: 100%;
	height: 200px;
}
.colCard {
	width: 16%; 
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	padding: 5px;
}

.colCard:hover {
	border-style: solid;
    border-color: white;
}

@keyframes hightlightAnimationProduct {
	0%   {color: rgb(230, 76, 76); left:0px}
    50%  {color: rgb(72, 255, 0); left:50px}
    100% {color: rgb(230, 76, 76); left:0px}
}

.hightlight-product h3 {
	font-size: 30pt;
	margin: 1% 0% 1% 2%;
	position: relative;
    animation-name: hightlightAnimationProduct;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.hightlight-product {
	margin-left: 200px;
	min-height: 500px;
}

.siderStyle {
	background: transparent;
	position: fixed;
	top: 66px;
	left: 30px;
}

.width20 {
	width: 20%;
}